stages:
  - build
  - test
  - deploy
variables:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
  NUGET_PACKAGES: $CI_PROJECT_DIR/.nuget/packages
  DOTNET_RESTORE_DISABLE_PARALLEL: true
  DOTNET_VERSION: 9.0
  DEPLOY_ENABLED: true
  RUN_TESTS: true
default:
  before_script:
    - echo 'Setting up .NET environment'
    - dotnet --info
  retry:
    max: 2
    when:
      - runner_system_failure
      - stuck_or_timeout_failure
  timeout: 1h
workflow:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      when: never
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      when: always
    - if: $CI_COMMIT_TAG
      when: always
    - when: manual
      allow_failure: true
jobs:
  build:
    stage: build
    image: mcr.microsoft.com/dotnet/sdk:9.0
    script:
      - dotnet --version
      - dotnet restore
      - dotnet build --configuration Release --no-restore
    variables:
      BUILD_CONFIGURATION: Release
      DOTNET_CONFIGURATION: Release
      DOTNET_VERBOSITY: minimal
    artifacts:
      paths:
        - bin/
        - obj/
      when: on_success
      expire_in: 1 week
  test:
    stage: test
    image: mcr.microsoft.com/dotnet/sdk:9.0
    script:
      - dotnet test --configuration Release --no-build --collect:"XPlat Code Coverage" --logger trx --results-directory ./TestResults/
    variables:
      TEST_CONFIGURATION: Release
      DOTNET_CONFIGURATION: Release
      COLLECT_COVERAGE: true
      LOGGER: trx
    artifacts:
      paths:
        - TestResults/
      when: always
      expire_in: 1 week
      reports:
        junit:
          - TestResults/*.trx
        cobertura:
          - TestResults/*/coverage.cobertura.xml
    dependencies:
      - build
  deploy:
    stage: deploy
    image: mcr.microsoft.com/dotnet/sdk:9.0
    script:
      - echo 'Starting deployment'
      - '# Add your deployment commands here'
    variables:
      DEPLOY_STRATEGY: rolling
      HEALTH_CHECK_ENABLED: true
    dependencies:
      - build
    when: manual
