<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GitLab Pipeline Generator</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="CollapseNavMenu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="gitlab">
                <span class="oi oi-globe" aria-hidden="true"></span> GitLab
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="gocd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> GOCD
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="reports">
                <span class="oi oi-bar-chart" aria-hidden="true"></span> Reports
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void CollapseNavMenu()
    {
        // Only collapse on mobile devices
        collapseNavMenu = false;
    }
}