@page "/"

<PageTitle>GitLab Pipeline Generator</PageTitle>

<h1>GitLab Pipeline Generator</h1>

<p>Welcome to the GitLab Pipeline Generator web application.</p>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>GitLab Integration</h5>
            </div>
            <div class="card-body">
                <p>Connect to GitLab and generate CI/CD pipelines from project analysis.</p>
                <a href="/gitlab" class="btn btn-primary">Go to GitLab</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h5>GOCD Integration</h5>
            </div>
            <div class="card-body">
                <p>Connect to your GOCD server and manage pipeline configurations.</p>
                <a href="/gocd" class="btn btn-primary">Go to GOCD</a>
            </div>
        </div>
    </div>
</div>